@import '../../scss/_index.scss';

.lockIcon {
	position: absolute;
	right: -21px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.buttonArrowRight {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 40px;
	border-radius: 5px;

	background-color: $buttonPrimaryColor;
}

.buttonArrowLeft {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 40px;
	border-radius: 5px;
	transform: rotate(180deg);

	background-color: $buttonPrimaryColor;
}
